<ion-header>
  <ion-toolbar>
    <ion-buttons slot="primary">
      <ion-button (click)="onCancel()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{selectedPlace.title}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-text-center ion-padding">
  <form #createBookingForm="ngForm" (ngSubmit)="onBookPlace()">
    <ion-grid>
      <ion-row>
        <ion-col sizeSm="6" offsetSm="3">
          <ion-item>
            <ion-label position="floating">First Name</ion-label>
            <ion-input type="text" ngModel name="first-name" required></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col sizeSm="6" offsetSm="3">
          <ion-item>
            <ion-label position="floating">Last Name</ion-label>
            <ion-input type="text" ngModel name="last-name" required></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col sizeSm="6" offsetSm="3">
          <ion-item>
            <ion-label>Guest Number</ion-label>
            <ion-select name="guest-number" [ngModel]="'2'">
              <ion-select-option value="1">1</ion-select-option>
              <ion-select-option value="2">2</ion-select-option>
              <ion-select-option value="3">3</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col sizeSm="6" offsetSm="3">
          <ion-item>
            <ion-label>Date from</ion-label>
            <ion-datetime displayFormat="MMM DD YYYY"
            pickerFormat="YY MMM DD" [min]="selectedPlace.availableFrom.toISOString()"
                          [max]="selectedPlace.availableTo.toISOString()"
                          [ngModel]="startDate" name="date-from" required #startDateCtrl></ion-datetime>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col sizeSm="6" offsetSm="3">
          <ion-item>
            <ion-label>Date to</ion-label>
            <ion-datetime displayFormat="MMM DD YYYY"
                          pickerFormat="YY MMM DD" [min]="startDateCtrl.value"
                          [max]="selectedPlace.availableTo.toISOString()"
                          [ngModel]="endDate" name="date-to" required></ion-datetime>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-button type="submit" color="secondary"
                expand="block" [disabled]="!createBookingForm.valid && !datesValid()">Book now</ion-button>
  </form>
</ion-content>
