<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="'/places/tabs/discover'"></ion-back-button>
    </ion-buttons>
    <ion-title>{{isLoaded ? place.title : 'Loading...'}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid *ngIf="isLoaded" class="ion-no-padding ion-text-center">
    <ion-row>
      <ion-col sizeSm="6" offsetSm="3">
        <ion-img [src]="place.imageUrl" [alt]="place.title"></ion-img>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col sizeSm="6" offsetSm="3">
        <p>{{place.description}}</p>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="isBookable()">
      <ion-col sizeSm="6" offsetSm="3">
        <ion-button class="ion-margin" color="primary" (click)="onBookPlace()">Book</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
